<div class="row edu main-container">
    <h1>Educación</h1>
    <div class="text-center">
        <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
            <a class="nav-link" style="color:aliceblue">
            Añadir Educación<span class="sr-only">(current)</span>
            </a>
        </button>
    </div>
</div>
<div id="main-container">
    <div *ngFor="let education of educations" class="col-lg-12">
        <div class="container">
<div class="row align-items-start">
    <div class="col">
        <img src="{{education.imagenEdu}}" alt="" width="100">
    </div>
    <div class="col">
        <h3>{{education.tituloEdu}}</h3>
    </div>
    <div class="col text-center">
        <a
        (click)="onOpenModal('edit', education)"
        class="btn btn-primary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Edit"
        ><i class="fa fa-pencil"></i>
        </a>
        <a
        (click)="onOpenModal('delete', education)"
        class="btn btn-secondary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Eliminar"
        ><i class="fa fa-times"></i>
        </a>
    </div>
    <div class="row">
        <div class="col align-self-end">
            <p>{{education.descEdu}}</p>
        </div>
        <div class="col-6">
            {{education.tituloEdu}}
        </div>
        <div class="col-9">
            {{education.fechaEdu}}
        </div>
        <div class="col-12">
            {{education.descEdu}}
        </div>
    </div>

</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEducationModalLabel">Añadir educación</h5>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
          <div class="form-group">
            <label for="tituloEdu">Titulo</label>
            <input type="text" ngModel name="tituloEdu" class="form-control" id="tituloEdu" placeholder="Titulo"
              required>
          </div>
          <div class="form-group">
            <label for="descEdu">Descripción</label>
            <input type="text" ngModel name="descEdu" class="form-control" id="descEdu" placeholder="Descripcion"
              required>
          </div>
          <div class="form-group">
            <label for="fechaEdu">Fecha</label>
            <input type="text" ngModel name="fechaEdu" class="form-control" id="fechaEdu" placeholder="Fecha" required>
          </div>
          <div class="form-group">
            <label for="imagenEdu">URL Imagen</label>
            <input type="text" ngModel name="imagenEdu" class="form-control" id="imagenEdu" placeholder="URL Imagen"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-education-form" class="btn btn-secondary" data-dismiss="modal" >
              Cerrar
            </button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
              Añadir Educación
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>


<div class="modal fade" id="editEducationModal" tabindex="-1" role="dialog" aria-labelledby="educationEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducationModalLabel">
          Editar educación {{editEducation?.tituloEdu}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Titulo</label>
            <input type="text" ngModel="{{editEducation?.tituloEdu}}" name="tituloEdu" class="form-control"
              id="tituloEdu" aria-describedby="emailHelp" placeholder="Titulo" />
          </div>
          <input type="hidden" ngModel="{{editEducation?.idEdu}}" name="idEdu" class="form-control" id="idEdu"
            placeholder="" />
          <div class="form-group">
            <label for="descEdu">Descripción</label>
            <input type="text" ngModel="{{editEducation?.descEdu}}" name="descEdu" class="form-control" id="descEdu"
              placeholder="Descripcion" />
          </div>
          <div class="form-group">
            <label for="fechaEdu">Fecha</label>
            <input type="text" ngModel="{{editEducation?.fechaEdu}}" name="fechaEdu" class="form-control" id="fechaEdu"
              placeholder="Fecha" />
          </div>
          <div class="form-group">
            <label for="imagenEdu">URL Imagen</label>
            <input type="text" ngModel="{{editEducation?.imagenEdu}}" name="imagenEdu" class="form-control"
              id="imagenEdu" placeholder="URL Imagen" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button (click)="onUpdateEducation(editForm.value)" data-dismiss="modal" class="btn btn-primary">
              Guardar cambios
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>



<div class="modal fade" id="deleteEducationModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteEducationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEducationModalLabel">Borrar educación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de borrar la educación{{deleteEducation?.tituloEdu}}?</p>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button (click)="onDeleteEducation(deleteEducation!.idEdu)" class="btn btn-danger" data-dismiss="modal">
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="educations?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay educación</h4>
    <p>Por favor añade una educación</p>
  </div>
</div>